Servicio/WebContent/wsdl/Servicio_movil.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://aplication.serviciopablo.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://aplication.serviciopablo.com" xmlns:intf="http://aplication.serviciopablo.com" xmlns:tns1="http://sql.java" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://aplication.serviciopablo.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://sql.java"/>
   <element name="consultaCentrosHospitalarios">
    <complexType>
     <sequence>
      <element name="cuidad" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultaCentrosHospitalariosResponse">
    <complexType>
     <sequence>
      <element name="consultaCentrosHospitalariosReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultaDetalle">
    <complexType>
     <sequence>
      <element name="id" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultaDetalleResponse">
    <complexType>
     <sequence>
      <element name="consultaDetalleReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultar">
    <complexType>
     <sequence>
      <element name="sql" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="consultarResponse">
    <complexType>
     <sequence>
      <element name="consultarReturn" type="xsd:anyType"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="consultarRequest">

      <wsdl:part element="impl:consultar" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultarResponse">

      <wsdl:part element="impl:consultarResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultaCentrosHospitalariosRequest">

      <wsdl:part element="impl:consultaCentrosHospitalarios" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultaDetalleRequest">

      <wsdl:part element="impl:consultaDetalle" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultaCentrosHospitalariosResponse">

      <wsdl:part element="impl:consultaCentrosHospitalariosResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="consultaDetalleResponse">

      <wsdl:part element="impl:consultaDetalleResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Servicio_movil">

      <wsdl:operation name="consultaCentrosHospitalarios">

         <wsdl:input message="impl:consultaCentrosHospitalariosRequest" name="consultaCentrosHospitalariosRequest">

       </wsdl:input>

         <wsdl:output message="impl:consultaCentrosHospitalariosResponse" name="consultaCentrosHospitalariosResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultaDetalle">

         <wsdl:input message="impl:consultaDetalleRequest" name="consultaDetalleRequest">

       </wsdl:input>

         <wsdl:output message="impl:consultaDetalleResponse" name="consultaDetalleResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultar">

         <wsdl:input message="impl:consultarRequest" name="consultarRequest">

       </wsdl:input>

         <wsdl:output message="impl:consultarResponse" name="consultarResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Servicio_movilSoapBinding" type="impl:Servicio_movil">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="consultaCentrosHospitalarios">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultaCentrosHospitalariosRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="consultaCentrosHospitalariosResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultaDetalle">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultaDetalleRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="consultaDetalleResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="consultar">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="consultarRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="consultarResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Servicio_movilService">

      <wsdl:port binding="impl:Servicio_movilSoapBinding" name="Servicio_movil">

         <wsdlsoap:address location="http://localhost:8080/ServicioDAL/services/Servicio_movil"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
